.image_ads {
  border-radius: 5px;
  width: 90%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.slider_container {
  width: 100%;
  text-align: center;
  cursor: grab;
}

.slider_container:active {
  cursor: grabbing;
}

.button_next_previous {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  border: solid 1px #e9eaec;
  box-shadow: 0px 2px 8px rgba(18, 18, 18, 0.363);
}

.arrow {
  fill: black;
}

.button_next_previous:hover .arrow {
  fill: white;
}

.button_next_previous:hover {
  fill: white;
  background: #00008b;
  border: solid 1px #00008b;
  color: white;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
  }
  10%{
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInSlide {
  0% {
    opacity: 0;
  }
  10%{
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInSlide {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

  -webkit-animation-name: fadeInSlide;
  animation-name: fadeInSlide;
}
